
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');




body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #36454f;

  background-size: 1000px;
  /*background-image: url("https://www.psdgraphics.com/wp-content/uploads/2022/01/white-math-paper-texture.jpg");*/
  background-position: center center;
}

.letter{
  width: 120vh;
  /*height: 200vh;*/
  background-size: 1000px;
  background-image: url("images.jpg");
  background-position: center center;
  margin-top: 200px;
}

.paper {
  background-image: url("pink.jpg");
  background-size: 500px;
  background-position: center center;
  padding: 20px 100px;
/*  min-width: 800px; */
  
  transform: rotateZ(-5deg);
  box-shadow: 1px 15px 20px 0px rgba(0,0,0,0.5);
  
  position: absolute;
}



.paper.image {
  padding: 10px;
}
.paper.image p {
  font-size: 30px;
}

img {
  max-height: 200px;
  width: 100%;
  user-select: none;
}



p {
  font-family: 'Zeyada';
  font-size: 50px;
  color: rgb(0,0,100);
  opacity: 0.75;
  user-select: none;
  
  // filter: drop-shadow(2px 1.5px 1px rgba(0,0,105,0.9));
}

.t1{
  font-family: 'Zeyada';
  font-size: 50px;
  color: rgb(0,0,100);
  /*opacity: 0.75;*/
  text-align: center;
}


.content{
  height: 100vh;
  padding: 30px;
  text-decoration: none;
  
}
